/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.container--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.btn {
  padding: 10px 8px;
  border: none;
  background-color: #053c64;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #053c64;
  color: white;
  width: 100%;
  padding: 20px;
}

.section--stats,
.section--add,
.section--library {
  padding: 20px;
}

/* STATS */
.section--stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section--stats .container--stat-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.section--stats .container--stat-cards .stat-card {
  background-color: #f1f1f1;
  width: 175px;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section--stats .container--stat-cards .stat-card .stat {
  font-size: 1.7rem;
  font-weight: 600;
}

/* INPUT */
.section--add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section--add .form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section--add .form .form-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section--add .form .form-section .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* TABLE */
.section--library {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section--library .table {
  text-align: left;
}

/* STATUS DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .btn-status {
  background-color: #053c64;
  color: white;
  border: none;
  cursor: pointer;
}
.dropdown .btn-status:hover {
  background-color: #2980b9;
}
.dropdown .btn-status:focus {
  background-color: #2980b9;
}
.dropdown .status-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .status-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .status-dropdown a:hover {
  background-color: #ddd;
}
.dropdown .status-dropdown.show {
  display: block;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: black;
}
.footer i {
  font-size: 1.2rem;
  color: black;
}/*# sourceMappingURL=index.css.map */