/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
$clr-bg: #ffffff;
$clr-light: #fff;
$clr-primary: #6f9e6b;
$clr-grayL: #f0f0f0;
$clr-grayM: #e0e0e0;
$clr-grayD: #b0b0b0;
$clr-dark: #41404b;
$clr-hover: #62a3ce;
$clr-red: #ce6262;
$clr-r: #266d9c;
$clr-cr: #2e92d4;
$clr-tbr: #5fb5ef;

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.container--page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  background-color: $clr-bg;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section--stats,
.section--library {
  padding: 40px 20px;
}

.section-title {
  font-weight: 500;
  font-size: 1.4rem;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $clr-dark;
  color: $clr-light;
  width: 100%;
  padding: 25px;
  .header-title {
    font-weight: 500;
  }
}

/* STATS */
.section--stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .container--stat-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    .stat-card {
      color: $clr-light;
      width: 200px;
      height: auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      &:hover {
        transform: scale(1.05);
      }
      &.books-read {
        background-color: $clr-r;
      }
      &.books-reading {
        background-color: $clr-cr;
      }
      &.books-unread {
        background-color: $clr-tbr;
      }
      .stat {
        font-size: 1.7rem;
        font-weight: 600;
      }
    }
  }
}

/* INPUT */
.section--add {
  background-color: $clr-grayM;
  width: max-content;
  padding: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  .form-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    .input-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .input {
        padding: 5px;
        font-family: inherit;
        font-size: inherit;
        border: none;
      }
    }
  }
}

.btn-submit {
  padding: 10px 20px;
  border: none;
  background-color: $clr-primary;
  color: $clr-light;
  font-family: inherit;
  font-size: 0.9rem;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.1);
  }
}

/* TABLE */
.section--library {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: clamp(700px, 1000px, 1500px);
  .section-title {
    align-self: flex-start;
    padding-left: 20px;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    th {
      background-color: $clr-dark;
      color: $clr-light;
      font-weight: 500;
      padding: 10px;
    }
    tbody {
      td {
        padding: 10px;
      }
      tr:nth-child(even) {
        background-color: $clr-grayL;
      }
      tr:hover {
        cursor: pointer;
        td:not(:nth-child(4)) {
          color: $clr-hover;
        }
      }
      .btn-delete {
        color: $clr-grayD;
        font-size: 1.2rem;
        &:hover {
          transform: scale(1.4);
          color: $clr-red;
        }
      }
    }
  }
}

/* STATUS DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
  .btn-status {
    background-color: $clr-primary;
    color: $clr-light;
    border: none;
    border-radius: 12px;
    font-family: inherit;
    font-size: 0.9rem;
    padding: 4px 10px;
    cursor: pointer;
    &:hover {
      background-color: $clr-hover;
    }
    &:focus {
      background-color: $clr-hover;
    }
    i {
      padding-left: 5px;
    }
  }
  .status-dropdown {
    display: none;
    position: absolute;
    background-color: $clr-grayL;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      color: $clr-dark;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: $clr-bg;
      }
    }
    &.show {
      display: block;
    }
  }
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  color: $clr-dark;
  font-size: 0.9rem;
  i {
    font-size: 1rem;
    color: $clr-dark;
  }
}
